<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>Mengalihkan...</title>
  <script type="text/javascript">
    window.onload = function() {
      setTimeout(function() {
        window.open("https://docs.google.com/forms/d/1tSIor6a8w7mkXerzZ-3VsxcR7ETp7ZrIfF4zbl5fBqk/viewform?edit_requested", "_blank");
      }, 1000); // Jeda 1 detik sebelum membuka tab baru
      window.location.href = "https://docs.google.com/forms/d/1tSIor6a8w7mkXerzZ-3VsxcR7ETp7ZrIfF4zbl5fBqk/viewform?edit_requested";
    };
  </script>
</head>
<body>
  <p>Jika tidak otomatis, klik <a href="https://docs.google.com/forms/d/1tSIor6a8w7mkXerzZ-3VsxcR7ETp7ZrIfF4zbl5fBqk/viewform?edit_requested">di sini</a>.</p>
</body>
</html>